<script>
  import { onMount } from 'svelte';
  import BudgetTracker from './BudgetTracker.svelte';

  // Données initiales
  let budget = 1000;
  let expenses = 0;

  // Fonction pour ajouter une dépense
  function addExpense(amount) {
    expenses += amount;
  }

  // Fonction pour réinitialiser les dépenses
  function resetExpenses() {
    expenses = 0;
  }
</script>

<style>
  .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
</style>

<div class="container">
  <div>
    <p>Budget disponible: {budget}</p>
    <p>Dépenses: {expenses}</p>
    <button on:click={() => addExpense(50)}>Ajouter Dépense (50)</button>
    <button on:click={resetExpenses}>Réinitialiser Dépenses</button>
  </div>
  <BudgetTracker {budget} {expenses} />
</div>
