<script>
  export let budget;
  export let expenses;
</script>

<style>
  .tracker {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
  }
</style>

<div class="tracker">
  <h2>Tracker de Budget</h2>
  <p>Budget: {budget}</p>
  <p>Dépenses: {expenses}</p>
  <p>Solde Restant: {budget - expenses}</p>
</div>
